.root {
    -fx-background-color:grey;
}

#tituloTela {
    -fx-font-family: serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: blue; 
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: black; 
}

.text-field {
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-pref-width: 200;
    -fx-background-radius: 8;
}

.button {
    -fx-background-color:red;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 15;
}