.root {
    -fx-background-color: #EAEAEA;
}

#tituloTela {
    -fx-font-family: serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: darkgreen; 
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: crimson; 
}

.text-field {
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-pref-width: 200;
    -fx-background-radius: 8;
}

.button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 20;
}